@mixin header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  .logo {
    @include logo;
  }

  .hamburger-menu {
    @include hamburger-menu($text: on);
  }

  .menu {
    @include menu;
  }

  @include header--menu-off;
  @include header--menu-on;
}
