html {
  &.home {
    body {
      .header {
        @include header;
      }

      .hero {
        @include hero;
        display: none;
      }

      .hero-fullscreen {
        @include hero-fullscreen;
        display: none;
      }

      .slider {
        @include slider;
        display: none;
      }

      .parallax {
        @include parallax;
      }
    }
  }
}
