


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>BEM components</title>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <!-- Picturefill Responsive Images -->
    <script async src="/assets/scripts/picturefill.min.js"></script>

    
  </head>

  <body>




  
  
  <header class="header">
  <h3>BEM components</h3>

  <nav class="logo">
  <h3>Logo</h3>

  
  
  
  




<figure class="figure">
  
  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="BEM components">

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/logo_desktop.png, /assets/images/logo_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/logo_laptop.png, /assets/images/logo_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/logo_tablet.png, /assets/images/logo_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/logo_mobile.png, /assets/images/logo_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img class="img" srcset="/assets/images/logo_desktop.png" alt="Logo">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Logo
  </figcaption>

</a>
</figure>

</nav>

  <nav class="hamburger-menu">
  <h3>Hamburger menu</h3>

  <div class="hamburger-menu__text hamburger-menu__text--closed">
  <span class="opened">Close</span>
  <span class="closed">Menu</span>
</div>

  <div class="hamburger-menu__icon hamburger-menu__icon--closed">
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
</div>

</nav>

  <nav class="menu">
  <h3>Menu</h3>

  <div class="menu__items">
  
    <div class="menu-item">
      

  
    
  

  


  


  

  

  <a class="link" href="/home" title="Home">Home</a>

    </div>
  
    <div class="menu-item">
      

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About">About</a>

    </div>
  
    <div class="menu-item">
      

  
    
  

  


  


  

  

  <a class="link" href="/services" title="Services">Services</a>

    </div>
  
    <div class="menu-item">
      

  
    
  

  


  


  

  

  <a class="link" href="/contact" title="Contact">Contact</a>

    </div>
  
</div>

</nav>

</header>


  
  <article class="hero">
  <h3>Hero</h3>

  
  <aside class="hero__image">
  <h3>Hero image</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  
    
    
      
      
    
    
    
  
    
      
      
    
    
    
    
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/placeholder-16-9_desktop.png, /assets/images/placeholder-16-9_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/placeholder-16-9_laptop.png, /assets/images/placeholder-16-9_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/placeholder-3-2_tablet.png, /assets/images/placeholder-3-2_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/placeholder-3-2_mobile.png, /assets/images/placeholder-3-2_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <img class="img" srcset="/assets/images/placeholder-16-9_desktop.png" alt="Hero">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Hero
  </figcaption>


</figure>

</aside>


  
  <aside class="hero__text">
  <h3 class="title">Hero with intrinsic ratio</h3>

  <p class="subtitle">Using two images for portrait and landscape.It takes various parts of the screen. Sometimes more than full screen, sometimes just the upper part</p>
</aside>

</article>


  
  <article class="hero-fullscreen">
  <h3>Hero full screen</h3>

  
  <aside class="hero-fullscreen__image">
  <h3>Hero image</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- Naming convention for responsive images -->
  
  
  
  
  
  
  
  


  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/retina-image-16-9_desktop.jpg, /assets/images/retina-image-16-9_desktop2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/retina-image-16-9_laptop.jpg, /assets/images/retina-image-16-9_laptop2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/retina-image-16-9_tablet.jpg, /assets/images/retina-image-16-9_tablet2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/retina-image-16-9_mobile.jpg, /assets/images/retina-image-16-9_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <img class="img" srcset="/assets/images/retina-image-16-9_desktop.jpg" alt="Hero for full screen">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Hero for full screen
  </figcaption>


</figure>

</aside>


  
  <aside class="hero-fullscreen__text">
  <h3 class="title">Hero with full screen</h3>

  <p class="subtitle">Using a single image and set as background.</p>
</aside>

</article>


  
  <section class="slider">
  <h3>Slider</h3>

  
  <div class="slider__slides">
  
    
    <article class="slide">
  <h3 class="slide__title">Slide 1</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #1</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
    
    <article class="slide">
  <h3 class="slide__title">Slide 2</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #2</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
    
    <article class="slide">
  <h3 class="slide__title">Slide 3</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #3</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
</div>


  
  <nav class="slider__bullets">
  <h3>Navigation bullets</h3>

  
    


  


<div class="bullet active">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
    



<div class="bullet ">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
    



<div class="bullet ">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
</nav>

</section>


  
  <section class="parallax">
  <h3>Parallax</h3>

  
  <div class="parallax__slides">
  
    
    <article class="parallax-slide parallax-slide--background">
  <h3 class="parallax-slide__title">Background layer</h3>

</article>

  
    
    <article class="parallax-slide parallax-slide--foreground">
  <h3 class="parallax-slide__title">Foreground layer</h3>

</article>

  
</div>

</section>


  <p>footer</p>



  <script src="/assets/scripts/hammer.min.js"></script>


<script src="/assets/scripts/site.min.js"></script>

</body>
</html>

