


<!doctype html>
<html lang="en" class="home ">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>BEM components</title>


    <link href="/assets/styles/site.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="//use.typekit.net/wrb3hlx.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    
    <script src="/assets/scripts/picturefill.min.js"></script>
  

    
  </head>

  <body>




  
  
  <header class="header">
  <h3>BEM components</h3>

  <nav class="logo">
  <h3>Logo</h3>

  
  
  
  




<figure class="figure">
  
  
    
  

  


  


  

  
    
  

  <a class="link" href="/" title="BEM components">

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/logo_desktop.png, /assets/images/logo_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/logo_laptop.png, /assets/images/logo_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/logo_tablet.png, /assets/images/logo_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/logo_mobile.png, /assets/images/logo_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/logo_laptop.png"  alt="Logo">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Logo
  </figcaption>

</a>
</figure>

</nav>

  <nav class="hamburger-menu">
  <h3>Hamburger menu</h3>

  <div class="hamburger-menu__text hamburger-menu__text--closed">
  <span class="opened">Close</span>
  <span class="closed">Menu</span>
</div>

  <div class="hamburger-menu__icon hamburger-menu__icon--closed">
  <span class="line line-1"></span>
  <span class="line line-2"></span>
  <span class="line line-3"></span>
</div>

</nav>

  <nav class="menu">
  <h3>Menu</h3>

  <div class="menu__items">
  
    <div class="menu-item">
      

  
    
  

  


  


  

  

  <a class="link" href="/home" title="Home">Home</a>

    </div>
  
    <div class="menu-item">
      

  
    
  

  


  


  

  

  <a class="link" href="/about" title="About">About</a>

    </div>
  
    <div class="menu-item">
      

  
    
  

  


  


  

  

  <a class="link" href="/services" title="Services">Services</a>

    </div>
  
    <div class="menu-item">
      

  
    
  

  


  


  

  

  <a class="link" href="/contact" title="Contact">Contact</a>

    </div>
  
</div>

</nav>

</header>


  
  <section class="home__articles">
  <h3>Articles</h3>

  
    
    <article class="article"  id="article-1" >
  
    <h3 class="article__title">
  Analysts Detail Claims That Reports on ISIS Were Distorted
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/google-earth-view-1514_mobile.jpg, /assets/images/google-earth-view-1514_mobile2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/google-earth-view-1514_mobile.jpg, /assets/images/google-earth-view-1514_mobile2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/google-earth-view-1514_mobile.jpg, /assets/images/google-earth-view-1514_mobile2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/google-earth-view-1514_mobile.jpg, /assets/images/google-earth-view-1514_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/google-earth-view-1514_mobile.jpg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-2" >
  
    <h3 class="article__title">
  As Shutdown Nears, Obama to Join Budget Fight
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/google-earth-view-2230_mobile.jpg, /assets/images/google-earth-view-2230_mobile2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/google-earth-view-2230_mobile.jpg, /assets/images/google-earth-view-2230_mobile2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/google-earth-view-2230_mobile.jpg, /assets/images/google-earth-view-2230_mobile2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/google-earth-view-2230_mobile.jpg, /assets/images/google-earth-view-2230_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/google-earth-view-2230_mobile.jpg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-3" >
  
    <h3 class="article__title">
  Obama Weighing Talks With Putin on Syrian Crisis
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/google-earth-view-2443_mobile.jpg, /assets/images/google-earth-view-2443_mobile2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/google-earth-view-2443_mobile.jpg, /assets/images/google-earth-view-2443_mobile2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/google-earth-view-2443_mobile.jpg, /assets/images/google-earth-view-2443_mobile2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/google-earth-view-2443_mobile.jpg, /assets/images/google-earth-view-2443_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/google-earth-view-2443_mobile.jpg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-4" >
  
    <h3 class="article__title">
  Closing the Back Door to Europe
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/google-earth-view-6055_mobile.jpg, /assets/images/google-earth-view-6055_mobile2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/google-earth-view-6055_mobile.jpg, /assets/images/google-earth-view-6055_mobile2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/google-earth-view-6055_mobile.jpg, /assets/images/google-earth-view-6055_mobile2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/google-earth-view-6055_mobile.jpg, /assets/images/google-earth-view-6055_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/google-earth-view-6055_mobile.jpg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-5" >
  
    <h3 class="article__title">
  Attitudes Shift on Paid Leave: Dads Sue, Too
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/google-earth-view-1964_mobile.jpg, /assets/images/google-earth-view-1964_mobile2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/google-earth-view-1964_mobile.jpg, /assets/images/google-earth-view-1964_mobile2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/google-earth-view-1964_mobile.jpg, /assets/images/google-earth-view-1964_mobile2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/google-earth-view-1964_mobile.jpg, /assets/images/google-earth-view-1964_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/google-earth-view-1964_mobile.jpg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-6" >
  
    <h3 class="article__title">
  Julianne Moore, Beauty and a Beast
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/google-earth-view-1829_mobile.jpg, /assets/images/google-earth-view-1829_mobile2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/google-earth-view-1829_mobile.jpg, /assets/images/google-earth-view-1829_mobile2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/google-earth-view-1829_mobile.jpg, /assets/images/google-earth-view-1829_mobile2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/google-earth-view-1829_mobile.jpg, /assets/images/google-earth-view-1829_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/google-earth-view-1829_mobile.jpg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-7" >
  
    <h3 class="article__title">
  The March Toward Moral Clarity
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/google-earth-view-1240_mobile.jpg, /assets/images/google-earth-view-1240_mobile2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/google-earth-view-1240_mobile.jpg, /assets/images/google-earth-view-1240_mobile2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/google-earth-view-1240_mobile.jpg, /assets/images/google-earth-view-1240_mobile2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/google-earth-view-1240_mobile.jpg, /assets/images/google-earth-view-1240_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/google-earth-view-1240_mobile.jpg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  
    <aside class="article__categories">
  <h3>Categories</h3>
</aside>

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-8" >
  
    <h3 class="article__title">
  The Imam’s Curse
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/download-1_mobile.jpeg, /assets/images/download-1_mobile2x.jpeg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/download-1_mobile.jpeg, /assets/images/download-1_mobile2x.jpeg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/download-1_mobile.jpeg, /assets/images/download-1_mobile2x.jpeg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/download-1_mobile.jpeg, /assets/images/download-1_mobile2x.jpeg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/download-1_mobile.jpeg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  
    <aside class="article__categories">
  <h3>Categories</h3>
</aside>

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-9" >
  
    <h3 class="article__title">
  Five Things Jeremy Corbyn Has Right
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/download-2_mobile.jpeg, /assets/images/download-2_mobile2x.jpeg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/download-2_mobile.jpeg, /assets/images/download-2_mobile2x.jpeg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/download-2_mobile.jpeg, /assets/images/download-2_mobile2x.jpeg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/download-2_mobile.jpeg, /assets/images/download-2_mobile2x.jpeg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/download-2_mobile.jpeg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  
    <aside class="article__categories">
  <h3>Categories</h3>
</aside>

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
    
    <article class="article"  id="article-10" >
  
    <h3 class="article__title">
  Bringing the Refugee Crisis Home
</h3>

  

  

  
    <aside class="article__excerpt">
  <h3>Excerpt</h3>
</aside>

  

  
    <aside class="article__images">
  <h3>Images</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/download-3_mobile.jpeg, /assets/images/download-3_mobile2x.jpeg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/download-3_mobile.jpeg, /assets/images/download-3_mobile2x.jpeg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/download-3_mobile.jpeg, /assets/images/download-3_mobile2x.jpeg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/download-3_mobile.jpeg, /assets/images/download-3_mobile2x.jpeg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/download-3_mobile.jpeg"  alt="Image title">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Image title
  </figcaption>


</figure>

</aside>

  

  
    <aside class="article__date">
  <h3>Date</h3>
</aside>

  

  
    <aside class="article__categories">
  <h3>Categories</h3>
</aside>

  

  
    <aside class="article__authors">
  <h3>Authors</h3>
</aside>

  

  
</article>

  
</section>


  
  <section class="video-example">
  <h3>Video example</h3>

  
  <article class="video-example__video">
  <h3 class="title">Video title</h3>

  <video class="video" autoplay loop poster="video-poster.png">
  

  
    <source src="/assets/videos/mark_romano--nantucket_docks.mp4" type="video/mp4">
  
</video>

</article>

</section>


  
  <article class="text-clipping-mask-example">
  <h3>Text Clipping Mask</h3>

  
  <aside class="text-clipping-mask-example__image">
  <h3>Text Clipping Mask</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/hero_desktop.jpeg, /assets/images/hero_desktop2x.jpeg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/hero_laptop.jpeg, /assets/images/hero_laptop2x.jpeg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/hero_tablet.jpeg, /assets/images/hero_tablet2x.jpeg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/hero_mobile.jpeg, /assets/images/hero_mobile2x.jpeg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/hero_laptop.jpeg"  alt="Hero with clipping text">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Hero with clipping text
  </figcaption>


</figure>

</aside>


  
  <aside class="text-clipping-mask-example__text">
  <h3 class="title">Hero with clipping text</h3>
</aside>

</article>


  
  <article class="hero">
  <h3>Hero</h3>

  
  <aside class="hero__image">
  <h3>Hero image</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  
    
    
    
    
      
      
    
  
    
    
    
      
      
    
    
  
    
    
      
      
    
    
    
  
    
      
      
    
    
    
    
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/placeholder-16-9_desktop.png, /assets/images/placeholder-16-9_desktop2x.png 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/placeholder-16-9_laptop.png, /assets/images/placeholder-16-9_laptop2x.png 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/placeholder-3-2_tablet.png, /assets/images/placeholder-3-2_tablet2x.png 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/placeholder-3-2_mobile.png, /assets/images/placeholder-3-2_mobile2x.png 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/placeholder-16-9_laptop.png"  alt="Hero">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Hero
  </figcaption>


</figure>

</aside>


  
  <aside class="hero__text">
  <h3 class="title">Hero with intrinsic ratio</h3>

  <p class="subtitle">Using two images for portrait and landscape.It takes various parts of the screen. Sometimes more than full screen, sometimes just the upper part</p>
</aside>

</article>


  
  <article class="hero-fullscreen">
  <h3>Hero full screen</h3>

  
  <aside class="hero-fullscreen__image">
  <h3>Hero image</h3>

  
  




<figure class="figure">
  

  <!-- The default extension is .png but other formats are handled too -->
  
  
    
  

  <!-- If 'onesize' is set all images will have the same size -->
  
    <!-- Naming convention for responsive images -->
    
    
    
    
    
    
    
    
  

  <!-- Showing different images for different devices -->
  


  <!-- Figcaption is image title unless is not set explicitely -->
  
  

  


  <!-- Images are served from /site also for /styleguide -->
  
  


  <picture class="picture">
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source media="(min-width: 1600px)" srcset="/assets/images/retina-image-16-9_desktop.jpg, /assets/images/retina-image-16-9_desktop2x.jpg 2x">
    <source media="(min-width: 1199px)" srcset="/assets/images/retina-image-16-9_laptop.jpg, /assets/images/retina-image-16-9_laptop2x.jpg 2x">
    <source media="(min-width: 600px)" srcset="/assets/images/retina-image-16-9_tablet.jpg, /assets/images/retina-image-16-9_tablet2x.jpg 2x">
    <source media="(max-width: 599px)" srcset="/assets/images/retina-image-16-9_mobile.jpg, /assets/images/retina-image-16-9_mobile2x.jpg 2x">
    <!--[if IE 9]></video><![endif]-->
    <!-- to make it work with imagesLoaded the 'srcset' is replaced by a standard fallback 'src' -->
    <img class="img" src="/assets/images/retina-image-16-9_laptop.jpg"  alt="Hero for full screen">
  </picture>

  <figcaption class="figcaption figcaption--from-title">
    Hero for full screen
  </figcaption>


</figure>

</aside>


  
  <aside class="hero-fullscreen__text">
  <h3 class="title">Hero with full screen</h3>

  <p class="subtitle">Using a single image and set as background.</p>
</aside>

</article>


  
  <section class="slider">
  <h3>Slider</h3>

  
  <div class="slider__slides">
  
    
    <article class="slide">
  <h3 class="slide__title">Slide 1</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #1</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
    
    <article class="slide">
  <h3 class="slide__title">Slide 2</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #2</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
    
    <article class="slide">
  <h3 class="slide__title">Slide 3</h3>

  <p class="slide__subtitle">This is a subtitle for the slider #3</p>

  <p class="slide__content">Your content goes here ...</p>
</article>

  
</div>


  
  <nav class="slider__bullets">
  <h3>Navigation bullets</h3>

  
    


  


<div class="bullet active">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
    



<div class="bullet ">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
    



<div class="bullet ">
  <span class="inactive">O</span>
  <span class="active">&bull;</span>
</div>

  
</nav>

</section>


  
  <section class="parallax">
  <h3>Parallax</h3>

  
  <div class="parallax__slides">
  
    
    <article class="parallax-slide parallax-slide--background">
  <h3 class="parallax-slide__title">Background layer</h3>

</article>

  
    
    <article class="parallax-slide parallax-slide--foreground">
  <h3 class="parallax-slide__title">Foreground layer</h3>

</article>

  
</div>

</section>


  <p>footer</p>






    <script src="/assets/scripts/imagesloaded.pkgd.min.js"></script>
  
    <script src="/assets/scripts/hammer.min.js"></script>
  
    <script src="/assets/scripts/site.min.js"></script>
  

</body>
</html>

