@mixin hamburger-menu__icon($height) {
  width: 100%;
  cursor: pointer;

  display: flex;
  flex-direction: column;

  .line {
    border-bottom: 1px solid;
  }

  @include transition(transform);
  
  &--closed {
    @include hamburger-menu__icon--closed($height);
  }

  &--opened {
    @include hamburger-menu__icon--opened;
  }
}
